/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    
    @apply bg-[#111015] text-gray-200 antialiased font-sans;
    background-image: radial-gradient(circle at 10% 20%, rgba(168, 85, 247, 0.1), transparent 40%),
                      radial-gradient(circle at 90% 80%, rgba(79, 70, 229, 0.1), transparent 40%);
    background-attachment: fixed;
  }


  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-800/50;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }

  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}